<nz-table #table 
  [nzFrontPagination]="false"
  [nzTitle]="title"
  style="margin-top: 20px;"
  nzSize="small" [nzData]="table_data">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Category</th>
      <th>Skill</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody *ngIf="table.data">
    <tr *ngFor="let d of table.data; let i = index;">
      <td>{{i+1}}</td>
      <td>{{ d.title }}</td>
      <td>{{ d.category }}</td>
      <td>{{ d.skill }}</td>
      <td>{{ d.date }}</td>
      <td>
        <nz-switch [(ngModel)]="d.public" [nzControl]="true" (click)="clickSwitch(d)" [nzLoading]="loading"></nz-switch>
      </td>
    </tr>
  </tbody>
</nz-table>