<div class="p-lessons p-page">
  <h4 class="c-title">Lessons</h4>
  <button nz-button nzType="primary" (click)="goToUploadPage()" class="c-right-button">Upload Lesson</button>

  <nz-tabset>
    <nz-tab nzTitle="All">
      <h4 class="c-t1">{{category_data[0].name}}</h4>
      <div *ngIf="data">
        <gp-lessons-category-table *ngFor="let d of data;" [title]="d.name" [table_data]="d.list"></gp-lessons-category-table>
      </div>
      
    </nz-tab>
    <nz-tab [nzTitle]="category_data[0].name">
      <h4 class="c-t1">{{category_data[0].name}}</h4>
      <div *ngIf="data">
        <gp-lessons-category-table *ngFor="let d of data;" [title]="d.name" [table_data]="d.list"></gp-lessons-category-table>
      </div>
    </nz-tab>

    <nz-tab [nzTitle]="category_data[1].name">
      Content of Tab Pane 3
    </nz-tab>
    <nz-tab [nzTitle]="category_data[2].name">
      Content of Tab Pane 4
    </nz-tab>
  </nz-tabset>

  <router-outlet></router-outlet>
</div>