<div class="p-mini-course p-page">
  <h4 class="c-title">Minicourse Management</h4>
  <button nz-button nzType="primary" (click)="goToCreatePage()" class="c-right-button">Create New Minicourse</button>
  
  <div class="g-box">
    <nz-table #table 
      [nzFrontPagination]="false"
      style="margin-top: 20px;"
      nzSize="default" [nzData]="table_data">
      <thead>
        <tr>
          <th>#</th>
          <th>Minicourse Title</th>
          <th>No. of Lessons</th>
          <th>Last Updated Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="table.data">
        <tr *ngFor="let d of table.data; let i = index;">
          <td>{{i+1}}</td>
          <td>{{ d.title }}</td>
          <td>{{ d.num }}</td>
          <td>{{ d.date }}</td>
          <td>
            <nz-switch [(ngModel)]="d.public" [nzControl]="true" (click)="clickSwitch(d)" [nzLoading]="d.loading"></nz-switch>
          </td>
          <td>
            <button nz-button nzType="link">Edit</button>
          </td>
          
        </tr>
      </tbody>
    </nz-table>
  </div>



</div>