/* You can add global styles to this file, and also import other style files */

*{
  font-family: "latoregular","SimHei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif!important;
}

.p-page{
  padding: 24px 20px;
  position: relative;
  
  .c-title{
    font-size: 18px;
    color: #333;
  }

  .c-right-button{
    position: absolute;
    right: 20px;
    top: 24px;
  }
}