<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar"
            style="overflow:hidden;"
            nzCollapsible
            nzWidth="210px"
            nzBreakpoint="md"
            nzCollapsedWidth="0"
            [(nzCollapsed)]="isCollapsed"
            [nzZeroTrigger]="null"
            [nzTrigger]="null">
            
    <div class="sidebar-logo">
      <a href="/">
        <h1>Google CMS System</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Primer" nzIcon="dashboard">
        <ul class="c-sub-menu">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/lessons">Lessons</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mini-course">Minicourse</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/category-skill">Categories & Skills</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/qrcode-generator">QR Code Generator</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/reporting">Reporting</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dashboard">Dashboard</a>
          </li>
        </ul>
      </li>
      
    </ul>
  </nz-sider>

  
  <nz-layout>

    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               style="color:#fff;"
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        <button class="c-logout" (click)="clickLogout()" nz-button nzType="default">Logout</button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>

  <div class="app-loading" *ngIf="loading">
    <ng-template #indicatorTemplate>
      <i nz-icon nzType="loading" style="font-size: 42px;color:#fff;"></i> 
      <span style="color:#fff;font-size: 18px;position: relative;top: -5px;left:12px;">Loading...</span>
    </ng-template>
    <nz-spin nzSimple [nzIndicator]="indicatorTemplate"> </nz-spin>
  </div>
  
</nz-layout>
