:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background: #18272e;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);

  .ant-menu-inline{
    border: none;
  }

  .c-sub-menu{
    background: #1f363e;
    .ant-menu-item{
      border-top: 1px solid #404d55;
      margin-top: 0;
      margin-bottom: 0;
      // padding-left: 48px !important;

      &::after{
        border-right: none;
      }
    }
    .ant-menu-item-selected{
      
      border-left: 3px solid #65b5f0;
    }

  }

}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #18272e;
  transition: all .3s;
  border-bottom: 1px solid #404d55;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #1f363e;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  .c-logout{
    position: absolute;
    right: 24px;
    height: 32px;
    top: 18px;
  }
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
}

.app-loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
